<!DOCTYPE html>
<html>
  <head>
    <title>Angular2rails</title>
    <%= csrf_meta_tags %>
    <%== webpacked_css_tags 'application' %>
  </head>

  <body>
    <app-root></app-root>
    <%== webpacked_js_tags 'application' %>
  </body>
</html>
